{% extends 'base.html.twig' %}

{% block title %}Money conversion - Differenza{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
        <div class="text-center">
            <h1>Differenza</h1>
            Esempio di differenza =&gt; 5p 17s 8d - 3p 4s 10d = 2p 12s 10d

            {% form_theme form 'bootstrap_5_layout.html.twig' %}
            {{ form_start(form) }}

            <div class="row align-items-center">
                <div class="col-md-3">
                    {{ form_row(form.minuendo) }}
                </div>
                <div class="col-md-1 text-center">
                    <span>-</span>
                </div>
                <div class="col-md-3">
                    <div class="position-relative">
                        {{ form_widget(form.sottraendo, {
                            'attr': {
                                'data-bs-toggle': 'tooltip',
                                'data-bs-placement': 'right',
                                'title': form.sottraendo.vars.errors|length > 0 ? form.sottraendo.vars.errors[0].message : ''
                            }
                        }) }}
                    </div>

                </div>
                <div class="col-md-1 text-center">
                    <span>=</span>
                </div>
                <div class="col-md-3 text-center">
                    {% if result is not null %}
                        <p class="fs-4 ms-1">{{ result }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                {{ form_row(form.submit, {'attr': {'style': 'background-color: #93a996; border:none'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

