{% extends 'base.html.twig' %}

{% block title %}Money conversion - Divisione{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
        <div class="text-center">
            <h1>Divisione</h1>
            Esempio di divisione =&gt; (18p 16s 1d) / 15 = 1p 5s Od (1s 1d)

            {% form_theme form 'bootstrap_5_layout.html.twig' %}
            {{ form_start(form) }}

            <div class="row align-items-center">
                <div class="col-md-3">
                    {{ form_row(form.dividendo) }}
                </div>
                <div class="col-md-1 text-center">
                    <span>/</span>
                </div>
                <div class="col-md-2">
                    <div class="position-relative">
                        {{ form_widget(form.divisore, {
                            'attr': {
                                'data-bs-toggle': 'tooltip',
                                'data-bs-placement': 'right',
                                'title': form.divisore.vars.errors|length > 0 ? form.divisore.vars.errors[0].message : ''
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-1 text-center">
                    <span>=</span>
                </div>
                <div class="col-md-5 text-center">
                    {% if result is not null %}
                        <p class="fs-4 ms-1">{{ result }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                {{ form_row(form.submit, {'attr': {'style': 'background-color: #93a996; border:none'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

