{% extends 'base.html.twig' %}

{% block title %}Money conversion - Moltiplicazione{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="text-center">
            <h1>Moltiplicazione</h1>
            Esempio di moltiplicazione =&gt; 5p 17s 8d 2 = 11p 15 s 4d

            {% form_theme form 'bootstrap_5_layout.html.twig' %}
            {{ form_start(form) }}

            <div class="row align-items-center">
                <div class="col-md-3">
                    {{ form_row(form.fattore_1) }}
                </div>
                <div class="col-md-1 text-center">
                    <span>*</span>
                </div>
                <div class="col-md-2">
                    {{ form_row(form.fattore_2) }}
                </div>
                <div class="col-md-1 text-center">
                    <span>=</span>
                </div>
                <div class="col-md-3 text-center">
                    {% if result is not null %}
                        <p class="fs-4 ms-1">{{ result }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                {{ form_row(form.submit, {'attr': {'style': 'background-color: #93a996; border:none'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

