{% extends 'base.html.twig' %}

{% block title %}Money conversion - Somma{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" style="margin-top: 20px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}" class="text-decoration-none">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Somma</li>
        </ol>
    </nav>
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
        <div class="text-center">
            <h1>Somma</h1>
            <p>Esempio di somma =&gt; 5p 17s 8d + 3p 4s 10d = 9p 2s 6d</p>

            {% form_theme form 'bootstrap_5_layout.html.twig' %}
            {{ form_start(form) }}

            <div class="row align-items-center">
                <div class="col-md-3">
                    {{ form_row(form.addendo_1) }}
                </div>
                <div class="col-md-1 text-center">
                    <span>+</span>
                </div>
                <div class="col-md-3">
                    {{ form_row(form.addendo_2) }}
                </div>
                <div class="col-md-1 text-center">
                    <span>=</span>
                </div>
                <div class="col-md-2 text-center">
                    {% if result is not null %}
                        <p class="fs-5 ms-1 mb-0 text-nowrap">{{ result }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                {{ form_row(form.submit, {'attr': {'style': 'background-color: #93a996; border:none'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

