{% extends 'base.html.twig' %}

{% block title %}Money conversion - Dettagli Prodotto{% endblock %}

{% block content %}
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('catalogo') }}" class="text-decoration-none">Torna al catalogo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dettaglio prodotto</li>
            </ol>
        </nav>
        <div class="container mt-4 d-flex justify-content-center"">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ product.nome }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">ID: {{ product.id }}</h6>
                    <p class="card-text">
                        <strong>Prezzo:</strong> €{{ product.prezzo }} <br>
                        <strong>Descrizione:</strong> {{ product.descrizione | default('Nessuna descrizione') }}
                    </p>
                    <div class="text-center">
                        <a href="{{ path('modifica_prodotto', { id: product.id }) }}" class="btn btn-warning">Modifica</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
